# Pandas 75 Exercises
from [kaggle](https://www.kaggle.com/code/tangchengshun/pandas-75-exercises-with-solutions)

In [1]:
# 1. Import pandas and show version
import pandas as pd
print(pd.__version__)

1.4.2

In [2]:
# 2. Create a series from a list, numpy and dict
import numpy as np
a_list = list("abcdegfg")
numpy_array = np.arange(1,10)
dictionary = {"A":0,"B":1,"C":2}

In [5]:
s1 = pd.Series(a_list)
s2 = pd.Series(numpy_array)
s3 = pd.Series(dictionary)
print(s3)

A    0
B    1
C    2
dtype: int64

In [25]:
# 3. Convert series intro dataframe with its index as a column
import string
mylist = list(string.ascii_lowercase)
myarr = np.arange(26)
mydict = dict(zip(mylist,myarr))
ser = pd.Series(mydict)


# Solution 1
ser_df = pd.DataFrame(ser) # now the original index is kept
ser_df.reset_index()
# does not work
# ser_df
# Solution 2
ser_df2 = ser.to_frame().reset_index()
ser_df2

   index   0
0      a   0
1      b   1
2      c   2
3      d   3
4      e   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

In [38]:
# 4. Combine series into dataframe
ser1 = pd.Series(list(string.ascii_lowercase))
ser2 = pd.Series(np.arange(len(ser1)))

# 1. using datafram
ser_df1 = pd.DataFrame(ser1, ser2).reset_index()

# 2. using a dictionary for the column names
ser_df2 = pd.DataFrame({'col1':ser1,'col2':ser2})
ser_df2.head()
# 3. using concat
ser_df3 = pd.concat([ser1,ser2],axis=1)
ser_df3.head()

   0  1
0  a  0
1  b  1
2  c  2
3  d  3
4  e  4

In [46]:
# 5. Name an index
ser = pd.Series(list(string.ascii_lowercase))
#ser.rename("lower")
ser.name = "lower_other"

In [51]:
# 6. get items in A not in B
sera = pd.Series([1,2,3,4,5])
serb = pd.Series([4,5,6,7,8])

# Solution
sera[~sera.isin(serb)]

0    1
1    2
2    3
dtype: int64

In [64]:
#7. items not common to both A and B 
sera = pd.Series([1,2,3,4,5])
serb = pd.Series([4,5,6,7,8])

# using pandas
a_not_b = sera[~sera.isin(serb)]
b_not_a = serb[~serb.isin(sera)]

pd.concat([a_not_b,b_not_a],ignore_index=True) # ignore index creates a new index

# using numpy union and intersetion ()
ser_u = pd.Series(np.union1d(sera,serb))
ser_i = pd.Series(np.intersect1d(sera,serb))
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [70]:
# 8. Get statistical data of numeric series
state = np.random.RandomState(100)
ser = pd.Series(state.normal(loc = 10, scale = 5, size = 25))

In [71]:
# using pandas
ser.describe()

count    25.000000
mean     10.435437
std       4.253118
min       1.251173
25%       7.709865
50%      10.922593
75%      13.363604
max      18.094908
dtype: float64

In [72]:
# using numpy
np.percentile(ser, q = [0,25,50,75,100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

In [81]:
# 9.Frequency counts of uniqe items
ser = pd.Series(
        np.take(list(string.ascii_lowercase),
                np.random.randint(len(string.ascii_lowercase),size=10000))
        )
ser.value_counts()

p    412
b    410
y    408
n    401
z    400
k    400
s    397
w    396
g    392
c    391
i    391
o    390
j    389
v    389
r    381
h    380
e    378
t    378
m    377
a    374
f    374
l    374
x    368
q    365
d    343
u    342
dtype: int64

In [82]:
# 10. Keep only the two most frequent values
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1,100,size=1000))

In [90]:
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

In [94]:
ser.iloc[50:100]

50    Other
51    Other
52    Other
53    Other
54    Other
55    Other
56    Other
57    Other
58    Other
59    Other
60    Other
61    Other
62    Other
63       55
64       55
65    Other
66    Other
67    Other
68    Other
69    Other
70    Other
71    Other
72    Other
73    Other
74    Other
75    Other
76    Other
77    Other
78    Other
79    Other
80    Other
81    Other
82    Other
83    Other
84    Other
85    Other
86    Other
87    Other
88    Other
89    Other
90    Other
91    Other
92    Other
93    Other
94    Other
95       55
96    Other
97    Other
98    Other
99    Other
dtype: object

In [100]:
# 11. Bin series into groups of equal size
ser = pd.Series(np.random.random(size = 20))
ser

0     0.852507
1     0.703631
2     0.055911
3     0.147442
4     0.093127
5     0.749413
6     0.260006
7     0.502955
8     0.242999
9     0.148208
10    0.554374
11    0.959612
12    0.979462
13    0.499900
14    0.713769
15    0.024184
16    0.667826
17    0.794212
18    0.676324
19    0.919984
dtype: float64

In [111]:
pd.qcut(ser,q=10)
# pass labels to bins
labels = ['1st','2nd','3rd']
labels.extend([str(i)+'th' for i in range(4,11)])
pd.qcut(ser,q=10,labels=labels)

0      9th
1      7th
2      1st
3      2nd
4      2nd
5      8th
6      4th
7      5th
8      3rd
9      3rd
10     5th
11    10th
12    10th
13     4th
14     7th
15     1st
16     6th
17     8th
18     6th
19     9th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [112]:
# 12. Numpy to Pandas with reshape
ser = pd.Series(np.random.randint(1,10,35))

In [115]:
# using np
pd.DataFrame(np.array(ser).reshape(7,-1))
# using only pd
pd.DataFrame(ser.values.reshape(7,-1))

   0  1  2  3  4
0  4  7  3  9  8
1  8  8  9  4  3
2  4  1  3  5  5
3  4  8  5  7  6
4  9  7  6  7  4
5  4  8  7  2  5
6  2  6  7  1  9

In [148]:
# 13. find multiples of 3 in a series
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, 10))

In [149]:
ser

0    4
1    4
2    3
3    2
4    1
5    4
6    4
7    4
8    2
9    4
dtype: int32

In [150]:
# using where
ser.where(lambda x:x%3 == 0).dropna()

2    3.0
dtype: float64

In [155]:
# 14. Extract items from given positions
ser = pd.Series(list(string.ascii_lowercase))
pos =[0,4,8,14,20]
ser.loc[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [156]:
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [163]:
# 15. stack 2 series vertically and horizontally
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# vertical
serv = pd.concat([ser1,ser2],axis = 0, ignore_index=False) # returns Series

0    0
1    1
2    2
3    3
4    4
dtype: object

In [168]:
# horizontal
serh = pd.concat([ser1,ser2],axis = 1,ignore_index=False)
serh

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e